.header {
    text-align: center;
}

.header-menu {
    text-align: center;
    margin-top: 50px;
    margin-bottom: 50px;
}
.header-btns {
    display: flex;
    justify-content: center;

}

.header-input {

    box-sizing: border-box;
    height: 40px;
    width: 400px;
    padding-left: 30px;
    //margin-left: 50%;
   // transform: translate(-50%);
    margin-bottom: 20px;
    border: 1px solid black;
    border-radius: 5px;
}
.header-input:focus {
    outline: none;
}
.header-input::placeholder {
    margin-left: 30px;
    font-style: italic;
    text-align: center;
}

.btn {
    width: 162px;
    height: 37px;
    border: none;
    outline: none;
    color: #fff;
    background: #979797;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 30px;
    &:first-child {
        margin-right: 20px;
    }
}
.btn:hover {
    background-color: darken($color: #979797, $amount: 15%);
}




