.task-container {
    margin-top: 27px;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}
.task {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 500px;
    border-width: 2px;
    border-style: solid;
    border-color: #002bff4f;
    border-left-width: 8px;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 20px;
    border-radius: 5px;
    overflow: auto;
    transition: all 1s ease;
    @media (max-width: 700px) {
            width: 320px;
    }
}


.task.enter {
    opacity: 0;
    transform: translate(-100px);
}

.task.enter-active {
    opacity: 1;
    transform: translate(0);
    transition: all 1s ease;
}
//  .task.enter-done {
//      opacity: 1;
//      transition: all 1s ease;
//  }

.task.exit {
    opacity: 1;
    transform: translate(-100px);
}

 .task.exit-active {
 opacity: 0;
 transform: translate(-100px);
 transition: all 1s ease;
 }

// .task.exit-done {
//     opacity: 0;
//     transform: translate(-100px);
//     transition: all 2s ease;
// }

.task span {
    margin-left: 5px;
}
.task-text {
    justify-items: center;
    padding-left: 20px;
    flex-grow: 1;
    text-align: left;
}

.task-text--complete span{
    text-decoration: line-through;
}
.task--complete {
    border-color: gray;
}
.done-checkbox {
    min-width: 20px;
    min-height: 20px;
    width: 20px;
    height: 20px;
    border: none;
    background-color: green;
    border-radius: 50%;
    padding: 0;
    cursor: pointer;
}
.done-checkbox--complete {
    background-color: gray;
}

.remove-btn {
    color: white;
    font-size: 13px;
    width: 20px;
    height: 20px;
    background-color: #ff0000a6;
    border: none;
    border-radius: 50%;
    cursor: pointer;
}
.remove-btn--complete {
    background-color:darken($color: #ff0000a6, $amount: 10%);
}